# Node
node_modules/
npm-debug.log
pnpm-debug.log
node_modules/.modules.yaml
node_modules/.pnpm-workspace-state-v1.json
node_modules/.pnpm/lock.yaml
node_modules/.pnpm/node_modules/ms

# Env
.env
.env.*
.env.local
.env.production
.env.development

# Drizzle
drizzle.config.json
drizzle/*
!drizzle/*.sql

# Build output

tmp/
.cache/

# OS files
.DS_Store

# Logs
*.log

# Misc
.vscode/

server/_legacy/
Backend structure.txt

dist/index.js
dist/seed.js