# Node
node_modules/
npm-debug.log
pnpm-debug.log

# Env
.env
.env.*
.env.local
.env.production
.env.development

# Drizzle
drizzle.config.json
drizzle/*
!drizzle/*.sql

# Build output

tmp/
.cache/

# OS files
.DS_Store

# Logs
*.log

# Misc
.vscode/

server/_legacy/
Backend structure.txt

dist/
node_modules/
dist/
